version: '3.8'

services:
  voice_recognition:
    container_name: recognition
    build: 
        context: ./SPEECH_RECOGNITION/FLASK_VOICE_RECOGNITION/
    command: bash -c "cd /recognition/app && gunicorn --bind 0.0.0.0:5000 wsgi:app"
    ports:
        - 5001:5000
  nlp:
    container_name: nlp
    build: 
        context: ./NLP_COMPONENT/
    command: bash -c "cd /nlp/app && gunicorn --bind 0.0.0.0:5000 wsgi:app"
    ports:
        - 5002:5000
  path_finder:
    container_name: path_finder
    build: 
        context: ./PATH_FINDER/
    command: bash -c "cd /pathFinder/app && gunicorn --bind 0.0.0.0:5000 wsgi:app"
    ports:
        - 5003:5000
